schema/ce-config.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="http://www.w3.org/1999/xhtml" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns:c="urn:cen.eu:en16931:cius-extension:2018" xmlns:html="http://www.w3.org/1999/xhtml" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="c:cius">
      <a:documentation>CIUS definition</a:documentation>
      <element name="c:meta">
        <a:documentation>Metadata</a:documentation>
        <element name="c:shortName">
          <a:documentation>Short identifier</a:documentation>
          <text/>
        </element>
        <element name="c:name">
          <a:documentation>Name of CUIS/extension</a:documentation>
          <text/>
        </element>
        <element name="c:id">
          <a:documentation>Identifier as defined in 7.6 Identification of core invoice usage specifications</a:documentation>
          <text/>
        </element>
        <optional>
          <element name="c:extends">
            <a:documentation>Identifier of specification that is being extended</a:documentation>
            <text/>
          </element>
        </optional>
        <optional>
          <element name="c:specification">
            <a:documentation>Underlying specification</a:documentation>
            <text/>
          </element>
        </optional>
        <element name="c:version">
          <a:documentation>Version number</a:documentation>
          <text/>
        </element>
        <element name="c:status">
          <a:documentation>Status of CUIS/extension</a:documentation>
          <choice>
            <value>planned</value>
            <value>development</value>
            <value>active</value>
            <value>revoked</value>
          </choice>
        </element>
        <element name="c:date">
          <a:documentation>Date of publication</a:documentation>
          <data type="date"/>
        </element>
        <element name="c:publisher">
          <a:documentation>Publisher</a:documentation>
          <ref name="html-rtf"/>
        </element>
        <element name="c:governor">
          <a:documentation>Governonr</a:documentation>
          <ref name="html-rtf"/>
        </element>
        <optional>
          <element name="c:country">
            <a:documentation>Country to which CIUS/extension applies</a:documentation>
            <text/>
          </element>
        </optional>
        <optional>
          <element name="c:sector">
            <a:documentation>Sector to which CIUS/extension applies</a:documentation>
            <text/>
          </element>
        </optional>
        <element name="c:contact">
          <a:documentation>Contact email for any questions and bug reports against CUIS/extension</a:documentation>
          <text/>
        </element>
        <element name="c:abstract">
          <a:documentation>Short description of CIUS/extensions</a:documentation>
          <optional>
            <attribute name="xml:lang"/>
          </optional>
          <ref name="html-rtf"/>
        </element>
        <optional>
          <element name="c:link">
            <a:documentation>Link for more information</a:documentation>
            <data type="anyURI"/>
          </element>
        </optional>
        <optional>
          <element name="c:review">
            <a:documentation>Information about a review process</a:documentation>
            <optional>
              <attribute name="startDate">
                <data type="date"/>
              </attribute>
            </optional>
            <optional>
              <attribute name="endDate">
                <data type="date"/>
              </attribute>
            </optional>
            <ref name="html-rtf"/>
          </element>
        </optional>
      </element>
      <zeroOrMore>
        <ref name="description">
          <a:documentation>Text description</a:documentation>
        </ref>
      </zeroOrMore>
      <element name="c:rules">
        <a:documentation>Business rules imposed by CIUS/extension</a:documentation>
        <oneOrMore>
          <element name="c:rule">
            <a:documentation>Business rule</a:documentation>
            <attribute name="id">
              <a:documentation>Unique ID for business rule (BR-{country}-{id} pattern is recommended)</a:documentation>
            </attribute>
            <oneOrMore>
              <ref name="description"/>
            </oneOrMore>
            <optional>
              <ref name="restrictions"/>
            </optional>
            <zeroOrMore>
              <ref name="implementation"/>
            </zeroOrMore>
          </element>
        </oneOrMore>
      </element>
    </element>
  </start>
  <define name="description">
    <element name="c:description">
      <a:documentation>Human readable description can contain mix of text and HTML markup if formatting is needed</a:documentation>
      <optional>
        <attribute name="xml:lang"/>
      </optional>
      <ref name="html-rtf"/>
    </element>
  </define>
  <define name="restrictions">
    <element name="c:restrictions">
      <a:documentation>Restrictions that are further applied</a:documentation>
      <oneOrMore>
        <choice>
          <ref name="cardinality"/>
          <ref name="technical"/>
          <ref name="codelist"/>
          <ref name="value"/>
          <ref name="other"/>
          <ref name="synonyms"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="cardinality">
    <element name="c:cardinality">
      <a:documentation>Constaint on cardinality</a:documentation>
      <optional>
        <attribute name="maxOccurs">
          <choice>
            <data type="integer"/>
            <value>unbounded</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="minOccurs">
          <data type="integer"/>
        </attribute>
      </optional>
      <oneOrMore>
        <ref name="term"/>
      </oneOrMore>
    </element>
  </define>
  <define name="technical">
    <element name="c:technical">
      <a:documentation>Technical constaint</a:documentation>
      <empty/>
    </element>
  </define>
  <define name="codelist">
    <element name="c:codelist">
      <a:documentation>Codelist</a:documentation>
      <optional>
        <ref name="name"/>
      </optional>
      <optional>
        <ref name="listURI"/>
      </optional>
      <optional>
        <ref name="listVersion"/>
      </optional>
      <oneOrMore>
        <ref name="term"/>
      </oneOrMore>
      <oneOrMore>
        <ref name="codelist-value"/>
      </oneOrMore>
    </element>
  </define>
  <define name="value">
    <element name="c:value">
      <a:documentation>Restricted value domain
Restriction can be made using attributes similar to W3C XML Schema facets</a:documentation>
      <optional>
        <attribute name="pattern">
          <a:documentation>Regular expression describing allowed values</a:documentation>
        </attribute>
      </optional>
      <optional>
        <attribute name="length">
          <a:documentation>Required length of value</a:documentation>
          <data type="nonNegativeInteger"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="maxLength">
          <a:documentation>Maximum length of value</a:documentation>
          <data type="nonNegativeInteger"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="fractionDigits">
          <a:documentation>Maximal number of fraction digits</a:documentation>
          <data type="nonNegativeInteger"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="totalDigits">
          <a:documentation>Maximal number of fraction digits</a:documentation>
          <data type="nonNegativeInteger"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="minInclusive">
          <a:documentation>Minimum allowed value</a:documentation>
          <data type="decimal"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="maxInclusive">
          <a:documentation>Maximum allowed value</a:documentation>
          <data type="decimal"/>
        </attribute>
      </optional>
      <oneOrMore>
        <ref name="term"/>
      </oneOrMore>
    </element>
  </define>
  <define name="other">
    <element name="c:other">
      <a:documentation>FIXME: what should be content model here</a:documentation>
      <oneOrMore>
        <ref name="term"/>
      </oneOrMore>
    </element>
  </define>
  <define name="name">
    <element name="c:name">
      <a:documentation>Name </a:documentation>
      <text/>
    </element>
  </define>
  <define name="codelist-value">
    <element name="c:value">
      <a:documentation>Allowed value</a:documentation>
      <text/>
    </element>
  </define>
  <define name="term">
    <element name="c:term">
      <a:documentation>Reference to business term (i.e. BT-NN)</a:documentation>
      <text/>
    </element>
  </define>
  <define name="listURI">
    <element name="c:listURI">
      <a:documentation>Reference to original codelist</a:documentation>
      <text/>
    </element>
  </define>
  <define name="listVersion">
    <element name="c:listVersion">
      <a:documentation>Version of codelist</a:documentation>
      <text/>
    </element>
  </define>
  <define name="synonyms">
    <element name="c:synonyms">
      <a:documentation>Synonyms of term</a:documentation>
      <oneOrMore>
        <ref name="term"/>
      </oneOrMore>
      <oneOrMore>
        <ref name="synonym"/>
      </oneOrMore>
    </element>
  </define>
  <define name="synonym">
    <element name="c:synonym">
      <a:documentation>Synonym of term</a:documentation>
      <optional>
        <attribute name="xml:lang"/>
      </optional>
      <text/>
    </element>
  </define>
  <define name="html-rtf">
    <interleave>
      <text/>
      <zeroOrMore>
        <ref name="any-html"/>
      </zeroOrMore>
    </interleave>
  </define>
  <define name="any-html">
    <element>
      <nsName/>
      <zeroOrMore>
        <ref name="any-attribute"/>
      </zeroOrMore>
      <interleave>
        <zeroOrMore>
          <ref name="any-html"/>
        </zeroOrMore>
        <text/>
      </interleave>
    </element>
  </define>
  <define name="any-attribute">
    <attribute>
      <anyName/>
    </attribute>
  </define>
  <define name="implementation">
    <element name="c:implementation">
      <a:documentation>Technical implementation of constraint in any schema language, usually in Schematron</a:documentation>
      <attribute name="syntax">
        <a:documentation>To which syntax implementation applies?</a:documentation>
        <choice>
          <value>UBL-2.1</value>
          <value>CII-D16B</value>
        </choice>
      </attribute>
      <ref name="any"/>
    </element>
  </define>
  <define name="any">
    <element>
      <anyName/>
      <zeroOrMore>
        <ref name="any-attribute"/>
      </zeroOrMore>
      <interleave>
        <zeroOrMore>
          <ref name="any"/>
        </zeroOrMore>
        <text/>
      </interleave>
    </element>
  </define>
</grammar>
